<div id="side" class="sidenav">
    <div>
        <!--logo will go here-->
    </div>
    <div class="nav-side-buttons-container">
        <a class="btn" (click)="summaryButtonClicked();">
            <!--<span class="fa fa-bars" aria-hidden="true">
            </span>-->
            Summary
        </a>
        <hr>
        <a class="btn" (click)="detailsButtonClicked();">Details</a>
        <hr>
        <a class="btn" (click)="ddButtonClicked();">D.D</a>
    </div>
</div>
<div id="main">
    <nav class="bg-faded bg-primary">
        <div class="container-fluid navigation-bar-container">
            <div class="navbar-header">
                <button class="navbar-brand navbar-toggler btn btn-primary" (click)="openNav()">
                    &#9776;
                </button>
            </div>
            <div class="dropdown pull-right">
                <button class="btn btn-primary dropdown-toggle navbar-brand navbar-toggler" type="button"
                        id="dropdownMenu1" data-toggle="dropdown">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" (click)="logOut();">
                        <span class="fa fa-sign-out" aria-hidden="true"></span>
                        Log out
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div *ngIf="showSummary" class="container-fluid navigation-container">
        <hr>
        Summany
    </div>
    <div *ngIf="showDetails" class="container-fluid">
        <hr>
        <div>
            <ng-form
                    class="form-horizontal col-md-6 ng-valid ng-valid-required ng-valid-maxlength ng-valid-date ng-dirty ng-valid-parse"
                    style="">
                <div class="form-group">
                    <label for="inputAltName"
                           class="col-sm-4 control-label small ng-scope">Alternative Name:</label>
                    <div class="col-sm-8">
                        <input id="inputAltName" type="text" placeholder="{{draft.alternativeName}}"
                               [(ngModel)]="draft.alternativeName"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-not-empty"
                               aria-invalid="false">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label small ng-scope">Inception Date:</label>
                    <div style="padding: 0" class="col-sm-8">
                        <div class="col-sm-7">
                            <div id="date" input-name="inceptionDate" class="ng-isolate-scope">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group col-md-12">
                                            <input type="text" name="date" autocomplete="false"
                                                   uib-datepicker-popup="MM/dd/yyyy" ng-model="model"
                                                   max-date="maxDate" is-open="dpick.opened"
                                                   datepicker-options="dpick.dateOptions"
                                                   close-text="Close"
                                                   class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty ng-valid-required ng-valid-date"
                                                   aria-invalid="false">
                                            <div uib-datepicker-popup-wrap="" ng-model="date"
                                                 class="ng-not-empty ng-valid" aria-invalid="false">
                                            </div>
                                                    <span style="width: 1%" class="input-group-btn">
                                                        <button type="button" class="btn btn-default">
                                                            <em class="fa fa-calendar"></em>
                                                        </button></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label small ng-scope">Country of Registration:</label>
                    <div class="col-sm-8">
                        <div class="btn-group btn-block" dropdown keyboardNav="true">
                            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default btn-block" dropdownToggle>
                                {{draft.registrationCountry.name}}
                            </button>
                            <ul class="dropdown-menu col-sm-12" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                <li role="menuitem" *ngFor="let choice of countryOperation">
                                    <a class="dropdown-item" >{{choice}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label small ng-scope">Incorporation Number:</label>
                    <div class="col-sm-8 controls">
                        <input id="incorporationNumber" type="text" name="incorporationNumber"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                               aria-invalid="false" placeholder="{{draft.incorporationNumber}}"
                               [(ngModel)]="draft.incorporationNumber">
                        <ul ng-messages="" role="alert"
                            class="parsley-errors-list filled ng-inactive" aria-live="assertive">
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label small ng-scope">Entity Type for FATCA:</label>
                    <div class="col-sm-8">
                        <div class="btn-group btn-block" dropdown keyboardNav="true">
                            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default btn-block" dropdownToggle>
                                {{draft.fatcaEntityType.name}}
                            </button>
                            <ul class="dropdown-menu col-sm-12" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                <li role="menuitem" *ngFor="let i of fatcaEntityTypes">
                                    <a class="dropdown-item" >{{i.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label small ng-scope">GIIN Number:</label>
                    <div class="col-sm-8">
                        <input type="text" ng-maxlength="255"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                               aria-invalid="false" placeholder="{{draft.giinNumber}}"
                               [(ngModel)]="draft.giinNumber">
                        <ul role="alert"
                            class="parsley-errors-list filled ng-inactive" aria-live="assertive">
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label small ng-scope">TINN/EIN Number:</label>
                    <div class="col-sm-8">
                        <input type="text" ng-maxlength="255"
                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength"
                               aria-invalid="false" placeholder="{{draft.tinnEinNumber}}"
                               [(ngModel)]="draft.tinnEinNumber">
                        <ul ng-messages="" role="alert"
                            class="parsley-errors-list filled ng-inactive" aria-live="assertive">
                        </ul>
                    </div>
                </div>
            </ng-form>
            <ng-form class="form-horizontal col-md-6 ng-pristine ng-valid ng-valid-required">
                <div class="form-group">
                    <label class="col-sm-4 control-label small ng-scope">Business Line(s):</label>
                    <div class="col-sm-8">
                        <div>
                            <!-- <ng-select [data]="value"
                                       [multiple]="true"
                                       [items]="items"
                                       [disabled]="disabled"
                                       (data)="refreshValue($event)"
                                       (selected)="selected($event)"
                                       (removed)="removed($event)"
                                       placeholder=""></ng-select> -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label small ng-scope">Country(ies) of Operation:</label>
                    <div class="col-sm-8">
                        <div>
                            <!-- <ng-select [data]="value"
                                       [multiple]="true"
                                       [items]="countryOperation"
                                       [disabled]="disabled"
                                       (data)="refreshValue($event)"
                                       (selected)="selected($event)"
                                       (removed)="removed($event)"
                                       placeholder=""></ng-select> -->
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
        <div class="col-sm-12">
            <hr>
                <button class="btn btn-success btn-block center-block" style="max-width: 300px" (click)="setDraftContact();">Save</button>
            <hr>
        </div>
        <div class="col-sm-12">
            <h4>Current addresses</h4>
            <div *ngFor="let i of draft.addresses;  let binx = index" class="col-sm-12 container alert alert-info address-boxes" >
                <div class="col-sm-3">
                    {{i.type}}
                </div>
                <div class="col-sm-4">
                    {{i.email}}
                </div>
                <div class="col-sm-4">
                    {{i.website}}
                </div>
                <div class="col-sm-1">
                    <span class="glyphicon glyphicon-eye-open" style="color: orange" aria-hidden="true"
                    (click)="viewAddress(i);"></span>
                    <span class="glyphicon glyphicon-pencil" style="color: darkgreen" aria-hidden="true"
                        (click)="editAddress(i, binx);" data-toggle="collapse" data-target="#editAnAddress"></span>
                    <span class="glyphicon glyphicon-trash" style="color: red" aria-hidden="true"
                    (click)="deleteAddress(i);"></span>
                </div>
                <div class="col-sm-12" style="background: white; margin-top: 10px">
                    <div id="editAnAddress" class="collapse">
                        <div uib-modal-transclude="">
                            <div class="modal-header ng-scope">
                                <h4>Edit your address</h4>
                            </div>
                            <div class="col-sm-12">
                                <div class="modal-body ng-scope">

                                    <ng-form name="addressForm" novalidate=""
                                             class="form-validate form-horizontal form-condensed ng-pristine ng-valid ng-valid-mask ng-valid-email ng-valid-pattern"
                                             style="">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label small ng-scope">Address Type:</label>
                                            <div class="col-sm-9">
                                                <select id="selectselectedAddressType"
                                                        class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                                        aria-invalid="false" style="">
                                                    <option selected="selected">{{currentSelectedAddress.type}}</option>
                                                    <option label="Business 1" value="string:Business 1">Business 1</option>
                                                    <option label="Business 2" value="string:Business 2">Business 2</option>
                                                    <option label="Home 1" value="string:Home 1">Home 1</option>
                                                    <option label="Home 2" value="string:Home 2">Home 2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label small ng-scope">Address:</label>
                                            <div class="col-sm-9">
                                <textarea id="addresses"
                                          class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                          aria-invalid="false" style=""></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label small ng-scope">Country:</label>
                                            <div class="col-sm-5">
                                                <div class="btn-group btn-block" dropdown keyboardNav="true">
                                                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default btn-block" dropdownToggle>
                                                        United States
                                                    </button>
                                                    <ul class="dropdown-menu col-sm-12" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                                        <li role="menuitem" *ngFor="let choice of countryOperation">
                                                            <a class="dropdown-item" >{{choice}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group no-row-gutter">
                                                    <label class="col-sm-4 control-label small ng-scope">State/Prov:</label>
                                                    <div class="col-sm-8">
                                                        <select id="selectselectedAddressState"
                                                                class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                                                aria-invalid="false" style="">
                                                            <option selected="selected"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label small ng-scope">City:</label>
                                            <div class="col-sm-5">
                                                <input id="inputPrimCity" type="text"
                                                       class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                                       aria-invalid="false" style=""
                                                       [(ngModel)]="currentSelectedAddress.city">
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group no-row-gutter">
                                                    <label class="col-sm-4 control-label small ng-scope">Postal Code:</label>
                                                    <div class="col-sm-8">
                                                        <input id="inputPrimPostal" type="text"
                                                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                                               aria-invalid="false" style=""
                                                        [(ngModel)]="currentSelectedAddress.postalCode">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label small ng-scope">Cell:</label>
                                            <div class="col-sm-4">
                                                <input id="cell" name="cell" type="text" ui-mask="9 (999) 999-999?9"
                                                       class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-mask"
                                                       placeholder="_ (___) ___-____" aria-invalid="false" style=""
                                                       [(ngModel)]="currentSelectedAddress.cell"
                                                        >
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label small ng-scope">Phone:</label>
                                                    <div class="col-sm-8">
                                                        <input id="phone" name="phone" type="text"
                                                               ui-mask="(999) 999-9999 ext. ?9?9?9"
                                                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-mask"
                                                               placeholder="(___) ___-____ ext. ___" aria-invalid="false" style=""
                                                        [(ngModel)]="currentSelectedAddress.telephone">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label small ng-scope">Fax:</label>
                                            <div class="col-sm-4">
                                                <input id="fax" name="fax" type="text" ui-mask="(999) 999-9999 ext. ?9?9?9"
                                                       ng-model="$ctrl.model.fax"
                                                       class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-mask"
                                                       placeholder="(___) ___-____ ext. ___" aria-invalid="false" style=""
                                                       [(ngModel)]="currentSelectedAddress.fax">
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label small ng-scope">Home:</label>
                                                    <div class="col-sm-8">
                                                        <input id="home" name="home" type="text" ui-mask="9 (999) 999-999?9"
                                                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-mask"
                                                               placeholder="_ (___) ___-____" aria-invalid="false" style=""
                                                               [(ngModel)]="currentSelectedAddress.home">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <div>
                                                    <label class="small col-sm-10 col-sm-offset-1 ng-binding">
                                                        <div class="col-sm-3">
                                                            <label class="switch">
                                                                <input type="checkbox"
                                                                       class="ng-pristine ng-untouched ng-valid ng-empty"
                                                                       aria-invalid="false" style=""><span></span>
                                                            </label>
                                                        </div>
                                                        Use European phone number formats
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label small ng-scope">Email:</label>
                                            <div class="col-sm-9">
                                                <input id="inputselectedAddressEmail" type="email" name="email"
                                                       placeholder="some@email.com"
                                                       ng-model-options="{debounce: 1000}"
                                                       class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-email"
                                                       aria-invalid="false" style=""
                                                       [(ngModel)]="currentSelectedAddress.email">
                                                <!-- ngIf: addressForm.email.$dirty -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label small ng-scope">Website:</label>
                                            <div class="col-sm-9">
                                                <input id="inputselectedAddressWebsite" type="text" name="website"
                                                       placeholder="http://somesite.com"
                                                       ng-model-options="{debounce: 1000}" pattern="^[0-9a-zA-Z/].+[a-zA-Z]$"
                                                       class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern"
                                                       aria-invalid="false" style=""
                                                       [(ngModel)]="currentSelectedAddress.website">
                                                <!-- ngIf: addressForm.website.$dirty -->
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>
                                <div class="modal-footer ng-scope">
                                    <button class="btn btn-primary ng-scope" data-toggle="collapse" data-target="#editAnAddress"
                                            (click)="editAddress2(i);">
                                        Submit
                                    </button>
                                    <button class="btn btn-default ng-scope" data-toggle="collapse" data-target="#editAnAddress">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <hr>
            <button class="btn btn-success btn-block center-block" style="max-width: 300px"
                    data-toggle="collapse" data-target="#newAddress" >New Address</button>
            <hr>
        </div>
        <div class="col-sm-12">
            <div id="newAddress" class="collapse">
                <div uib-modal-transclude="">
                    <div class="modal-header ng-scope">
                        <h4>Manage address</h4>
                    </div>
                    <div role="alert" type="warning" class="alert alert-warning">
                        <span class="ng-scope">One of the following fields should be filled in - Address, City, Country, Email, Fax, Phone.</span>
                    </div>
                    <div class="col-sm-12">
                        <div class="modal-body ng-scope">

                            <ng-form name="addressForm" novalidate=""
                                     class="form-validate form-horizontal form-condensed ng-pristine ng-valid ng-valid-mask ng-valid-email ng-valid-pattern"
                                     style="">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small ng-scope">Address Type:</label>
                                    <div class="col-sm-9">
                                        <select id="selectselectedAddressType"
                                                class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                                aria-invalid="false" style="">
                                            <option selected="selected"></option>
                                            <option label="Business 1" value="string:Business 1">Business 1</option>
                                            <option label="Business 2" value="string:Business 2">Business 2</option>
                                            <option label="Home 1" value="string:Home 1">Home 1</option>
                                            <option label="Home 2" value="string:Home 2">Home 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small ng-scope">Address:</label>
                                    <div class="col-sm-9">
                                <textarea class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                          aria-invalid="false" style=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small ng-scope">Country:</label>
                                    <div class="col-sm-5">
                                        <div class="btn-group btn-block" dropdown keyboardNav="true">
                                            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default btn-block" dropdownToggle>
                                                choose one
                                            </button>
                                            <ul class="dropdown-menu col-sm-12" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                                <li role="menuitem" *ngFor="let choice of countryOperation">
                                                    <a class="dropdown-item" >{{choice}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group no-row-gutter">
                                            <label class="col-sm-4 control-label small ng-scope">State/Prov:</label>
                                            <div class="col-sm-8">
                                                <select id="selectselectedAddressState"
                                                        class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                                        aria-invalid="false" style="">
                                                    <option selected="selected"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small ng-scope">City:</label>
                                    <div class="col-sm-5">
                                        <input id="inputPrimCity" type="text"
                                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                               aria-invalid="false" style=""
                                               [(ngModel)]="newAddressObj.city">
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group no-row-gutter">
                                            <label class="col-sm-4 control-label small ng-scope">Postal Code:</label>
                                            <div class="col-sm-8">
                                                <input id="inputPrimPostal" type="text"
                                                       class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty"
                                                       aria-invalid="false" style=""
                                                       [(ngModel)]="newAddressObj.postalCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small ng-scope">Cell:</label>
                                    <div class="col-sm-4">
                                        <input name="cell" type="text" ui-mask="9 (999) 999-999?9"
                                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-mask"
                                               placeholder="_ (___) ___-____" aria-invalid="false" style=""
                                        [(ngModel)]="newAddressObj.cell">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label small ng-scope">Phone:</label>
                                            <div class="col-sm-8">
                                                <input name="phone" type="text"
                                                       ui-mask="(999) 999-9999 ext. ?9?9?9"
                                                       class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-mask"
                                                       placeholder="(___) ___-____ ext. ___" aria-invalid="false" style=""
                                                [(ngModel)]="newAddressObj.telephone">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small ng-scope">Fax:</label>
                                    <div class="col-sm-4">
                                        <input name="fax" type="text" ui-mask="(999) 999-9999 ext. ?9?9?9"
                                               ng-model="$ctrl.model.fax"
                                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-mask"
                                               placeholder="(___) ___-____ ext. ___" aria-invalid="false" style=""
                                               [(ngModel)]="newAddressObj.fax">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label small ng-scope">Home:</label>
                                            <div class="col-sm-8">
                                                <input name="home" type="text" ui-mask="9 (999) 999-999?9"
                                                       class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-mask"
                                                       placeholder="_ (___) ___-____" aria-invalid="false" style=""
                                                       [(ngModel)]="newAddressObj.home">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <div>
                                            <label class="small col-sm-10 col-sm-offset-1 ng-binding">
                                                <div class="col-sm-3">
                                                    <label class="switch">
                                                        <input type="checkbox"
                                                               class="ng-pristine ng-untouched ng-valid ng-empty"
                                                               aria-invalid="false" style=""><span></span>
                                                    </label>
                                                </div>
                                                Use European phone number formats
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small ng-scope">Email:</label>
                                    <div class="col-sm-9">
                                        <input id="inputselectedAddressEmail" type="email" name="email"
                                               placeholder="some@email.com"
                                               ng-model-options="{debounce: 1000}"
                                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-email"
                                               aria-invalid="false" style=""
                                               [(ngModel)]="newAddressObj.email">
                                        <!-- ngIf: addressForm.email.$dirty -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small ng-scope">Website:</label>
                                    <div class="col-sm-9">
                                        <input id="inputselectedAddressWebsite" type="text" name="website"
                                               placeholder="http://somesite.com" ng-model="$ctrl.model.website"
                                               ng-model-options="{debounce: 1000}" pattern="^[0-9a-zA-Z/].+[a-zA-Z]$"
                                               class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern"
                                               aria-invalid="false" style=""
                                               [(ngModel)]="newAddressObj.website">
                                        <!-- ngIf: addressForm.website.$dirty -->
                                    </div>
                                </div>
                            </ng-form>
                        </div>
                        <div class="modal-footer ng-scope">
                            <button class="btn btn-primary ng-scope" data-toggle="collapse" data-target="#newAddress"
                                    (click)="submitNewAddress();">
                                Submit
                            </button>
                            <button class="btn btn-default ng-scope" data-toggle="collapse" data-target="#newAddress">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="showdd" class="container-fluid">
        D.D.
    </div>
</div>