.navigation-bar {
    /*height : 60px;*/
}

.navigation-bar-container {
    padding-top    : 15px;
    padding-bottom : 15px;
}

.navigation-bar-container div button {
    border : none;
}

.navigation-container {
    padding-top   : 20px;
    padding-left  : 100px;
    padding-right : 100px;
}

/* The side navigation menu */
.sidenav {
    height           : 100%; /* 100% Full-height */
    width            : 0; /* 0 width - change this with JavaScript */
    position         : fixed; /* Stay in place */
    z-index          : 1; /* Stay on top */
    top              : 0;
    left             : 0;
    background-color : #337ab7;
    overflow-x       : hidden; /* Disable horizontal scroll */
    padding-top      : 60px; /* Place content 60px from the top */
    transition       : 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav div {
    padding : 10px 10px 10px 10px;
}

.nav-side-buttons-container {
    height             : 100%;
    background-color   : white;
    border-right       : solid;
    border-right-width : 1px;
    border-color       : #eff5fa;
}

/* The navigation menu links */
.sidenav a {
    border          : none;
    padding         : 8px 8px 8px 8px;
    text-decoration : none;
    text-align      : center;
    font-size       : 15px;
    color           : #3D3B39;
    /*display: block;*/
    transition      : 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color : #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .side-bar-top-nav-bar {
    position    : absolute;
    top         : 0;
    right       : 25px;
    margin-left : 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition : margin-left .3s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height : 450px) {
    .sidenav {
        padding-top : 15px;
    }

    .sidenav a {
        font-size : 18px;
    }
}

/*Drop down menu*/
.dropdown .dropdown-menu {
    -webkit-transition : all 0.3s;
    -moz-transition    : all 0.3s;
    -ms-transition     : all 0.3s;
    -o-transition      : all 0.3s;
    transition         : all 0.3s;

    max-height         : 0;
    display            : block;
    overflow           : hidden;
    opacity            : 0;
}

.dropdown.open .dropdown-menu {
    max-height : 300px;
    opacity    : 1;
}

.address-boxes {

}