<div (myClick)="clickMessage=$event">click with myClick</div>
{{clickMessage}}
<div class="bad curly special" [class]="badCurly">Bad curly</div>
<div [class.special]="isSpecial">The class binding is special</div>
<div class="header-container container-fluid">
	<div class="header-row row">
		<div class="header-logo col-xs-12 col-sm-12 col-md-2 col-lg-2">
			<a href="#" title="logo"><img src="img/logo.png" alt="logo" /></a>
		</div>

		<div class="header-nav-bar col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<div class="icon">
				<span (click)="dropdown()" class="fa fa-bell-o {{_dropdown}}"></span>
				<ul style="display:none;">
					<li>Text</li>
					<li>Text</li>
					<li>Text</li>
					<li>Text</li>
				</ul>
			</div>
			<div class="icon">
				<span class="fa fa-user"></span>
			</div>
		</div>
	</div>
</div>