.header-row {
	height: auto;
	padding: 10px 0;
	background-color: #23b7e5;
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.header-logo {
	padding: 0 15px;
}
.header-logo img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.header-nav-bar { height: 100%; }
.header-nav-bar .icon {
	float: right;
	font-size: 1.25em;
	color: #fff;
	padding: 15px 10px;
}

:host(.icon) {
	background: red;
};