<div class="container">
    <div *showItDevice="['mobile','tablet']" class="main-mobile"></div>
    <div *showItDevice="['desktop']" class="main"></div>
    <div class="row">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <img class="branding-image" src="../../assets/img/adminlogo.png">
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form *ngIf="!isOnFoprgotPassword" class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">
                        {{hash ? INPUT_TITLE2_LOGIN  : INPUT_TITLE1_LOGIN }}
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
              <span class="input-group-addon">
                <i *ngIf="!hash" class="fa fa-user fa" aria-hidden="true"></i>
                <i *ngIf="hash" class="fa fa-lock fa" aria-hidden="true"></i>
              </span>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="{{hash ? INPUT_MESSAGE1_PASSWORD : INPUT_MESSAGE1_LOGIN}}"
                                   [(ngModel)]="input1" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">
                        {{hash ? INPUT_TITLE2_PASSWORD : INPUT_TITLE2_LOGIN}}
                    </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="{{hash ? INPUT_MESSAGE2_PASSWORD : INPUT_MESSAGE2_LOGIN}}"
                                   [(ngModel)]="input2"/>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="button" [disabled]="!input1 || !input2"
                            class="btn btn-primary btn-lg btn-block login-button"
                            (click)="validate()">
                        {{hash ? BUTTON_RESET_PASSWORD : BUTTON_LOGIN}}
                    </button>
                </div>
                <div *ngIf="!hash" class="login-register">
                    <a href="#" (click)="changeStates()">reset password</a>
                </div>
            </form>
            <form *ngIf="isOnFoprgotPassword" class="form-horizontal">
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">{{FORGOT_PASSWORD_TITLE}}</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user fa" aria-hidden="true"></i>
              </span>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="{{FORGOT_PASSWORD_MESSAGE}}"
                                   [(ngModel)]="input1"/>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="button" [disabled]="!input1"
                            class="btn btn-primary btn-lg btn-block login-button"
                            (click)="validate()">{{FORGOT_PASSWORD_BUTTON_NAME}}
                    </button>
                </div>
                <div *ngIf="!hash" class="login-register">
                    <a href="#" (click)="changeStates()">{{FORGOT_PASSWORD_BACK_TO_LOGIN}}</a>
                </div>
            </form>
        </div>
    </div>
</div>
