.main {
    margin-top : 70px;
}

.main-mobile {
    margin-top : 20px;
}

h1.title {
    font-size   : 20px;
    font-weight : 400;
}

hr {
    width : 30%;
    color : #fff;
}

.form-group {
    margin-bottom : 15px;
}

label {
    margin-bottom : 15px;
}

input,
input::-webkit-input-placeholder {
    font-size   : 11px;
    padding-top : 3px;
}

.main-login {
    background-color      : #fff;
    /* shadows and rounded borders */
    -moz-border-radius    : 2px;
    -webkit-border-radius : 2px;
    border-radius         : 2px;
    -moz-box-shadow       : 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow    : 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow            : 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
    margin-top : 30px;
    margin     : 0 auto;
    max-width  : 330px;
    padding    : 40px 40px;

}

.login-button {
    margin-top : 5px;
}

.login-register {
    font-size  : 11px;
    text-align : center;
}

/*Branding immage */
.branding-image {
    max-width : 220px;
}

